$bg-clr: aliceblue;
$btn-clr: #b3d7ff;
$yellow: #e0be04;
#body {
	background-color: $bg-clr;
	.navbar-light { 
		.navbar-brand {
			color: blue;
			padding: 10px;
			font-size: 1.5rem;
		}
	}
	.Home
	{
		h1 {
			margin-top: 150px;
			width: 50%;
			font-family: 'Imprima', sans-serif;
			font-size: 4rem;
			letter-spacing: 1px;
			line-height: unset;
			word-spacing: 1px;
			.white {
				color: blue;
			}
			.yellow {
				color: $yellow;
			}
		}
		.btn {
			background-color: black;
			&:hover {
				box-shadow: 0 1.3rem 3rem rgba(0, 0, 0, 0.175) !important;
			}
		}
		p {
			font-size: 1.1rem;
			font-weight: 500;
			letter-spacing: 1px;
			color: black;
		}
	}
	.Art {
		.container{
			max-width: fit-content;
			padding-top: 100px;
			.col {
				padding-left: 0px;
				padding-right: 0px;
			}
			.Image-Container {
				position: relative;
				h5 {
					color: blue;
					opacity: 0;
					position: absolute;
					text-align: center;
					top: 45%;
					left: 25%;
					width: 45%;
				}
				img {
					width: 318.75px;
					height: 318.75px;
					padding: 10px;
					opacity: 1;
				}
				&:hover {
					img {
						opacity: 0.3;
						cursor: pointer;
					}
					h5 {
						opacity: 1;
						cursor: pointer;
					}
				}
			}
		}
	}
	.modal {
		.modal-content {
			width: fit-content;
			.modal-header {
				padding: 5px;
    			border-bottom: 0px solid #dee2e6;
			}
			.modal-body {
				padding: 5px;
				img {
					display: block;
					width: 890px;
					height: 626px;
				}
			}
		}
	}
}

@media screen and (max-width: 479px) {
	#body {
		padding: 10px;
		.Home {
			h1 {
				margin-top: 50px;
				font-size: 1.9rem;
				word-spacing: 0px;
				width: fit-content;
			}
			.btn {
				margin: 20px;
			}
		}
		.Art {
			.container {
				.col {
					padding-left: 0px;
					padding-right: 0px;	
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	#body {
		padding: 10px;
		.Home {
			h1 {
				font-size: 2.8rem;
				margin-top: 75px; 
				width: fit-content;
			}
		}
		.Art {
			.container {
				.col {
					padding-left: 0px;
					padding-right: 0px;	
				}
			}
		}	
	}
}

